<div th:fragment="sidenav" th:remove="tag">
    <div class="navbar-fixed">
        <nav class="navbar navbar-buildit">
            <div class="nav-wrapper">
                <a data-activates="slide-out" class="button-collapse hide-on-large-only"><i
                        class="material-icons">menu</i> </a>
                <ul class="right">
                    <li><a title="Recarregar página" onclick="location.reload()"><i
                            class="material-icons">refresh</i></a>
                    </li>
                    <li><a title="Sair" href="/logout"><i class="material-icons">exit_to_app</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="container">
        <div id="menu">
            <ul id="slide-out" class="side-nav fixed show-on-large-only side-buildit">
                <li><img class="brand-logo" src="image/logo-buildIT.jpg" alt="Logo Build It"></li>
                <li><span th:text="${'Olá, ' + name}"></span></li>
                <li><a><i class="material-icons">pie_chart</i>Visão Global</a></li>
                <li><a><i class="material-icons">label</i>Produtos</a></li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header custom-collapsible-header"><i
                                    class="material-icons">account_circle</i>Usuários<i class="material-icons right">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#">Administradores</a></li>
                                    <li><a href="#">Usuários (Caixa)</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header custom-collapsible-header"><i class="material-icons">local_grocery_store</i>Pedidos
                                <i class="material-icons right">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#">Todos os pedidos</a></li>
                                    <li><a href="#">Últimos pedidos</a></li>
                                    <li><a href="#">Pedidos cancelados</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

